@import "../../node_modules/bootstrap/scss/bootstrap";

@import "main";

.background {
    background-image: url("../../images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
};


.logo {
    width: 100px;
    height: auto; 
}

.fa-bars {
    font-size: 3em;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5px;
    background: rgb(1,1,1, .5);
    
}

.diamonds {
    height: auto;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #2D403E;
    color: white; 
    margin-top: auto;
    padding: 20px;
    position: sticky;
}


