@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    display: flex;
    flex-direction: column;
    background-image: url("../../images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    margin: 0;
    padding: 0;
};

.logo {
    width: 100px;
    height: auto;
}

.diamonds {
    height: auto;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #2D403E;
    color: white; 
    margin-top: auto;
    padding: 20px;
    position: sticky;
}


