@import "../../node_modules/bootstrap/scss/bootstrap";

@import "variables";

@font-face {
    font-family: "Lora";
    src: url("../../fonts/Lora/static/Lora-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu" ;
    src: url("../../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

header {
    position: fixed;
}

h1, h2 {
    font-family: "Ubuntu";
}

label, p, li {
    font-family: "Lora";
}

.background {
    background-image: url("../../images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    background-position: center center;
};

.logo {
    width: 100px;
    height: auto; 
}

.logo-footer {
    display: none;
}

.card-body {
    background-color: #D9d08f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.diamonds {
    height: auto;
    width: 100%;
    background-attachment: fixed;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2D403E;
    color: white; 
    margin-top: auto;
    padding: 20px;
    position: sticky;
}

footer div {
    padding-right: 20px;
}

.under-footer {
   display: flex;
   justify-content: center;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    justify-content: center;
    object-fit: cover;
    padding: 10px;
}

.wrapper, .carousel {
    font-size: 15px;
    white-space: nowrap;
    cursor: pointer;
    scroll-behavior: smooth;
}

.carousel {
    overflow: auto;
}

.wrapper i {
    top: 100px;
    background: #2d403e;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 50%;
}

.wrapper i:first-child {
    left: 15px;
    z-index: 1;
}
.wrapper i:last-child {
    right: 15px;
}


.carousel img {
    height: 240px;
    object-fit: cover;
    width: calc(100% / 2);
    display: inline-block;
    margin-left: 10px;
}

.carousel img:first-child {
    margin-left: 20px;
}


@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

@media screen and (min-width: 901px) {

    footer section  {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

   
    .carousel img {
        width: calc(100% / 3);
    }

    .logo-footer {
        display: block;
    }
}

@media screen and (min-width:1200px) {
  
    .carousel img {
        height: 340px;
        width: calc(100% / 4);
    }
}



